:root {
    --mainColor: #97BC62FF;
    --secondaryColor: #515a48;
    --borderColor:#161914;
    --themeDotBorder:#fff;
    --mainText:#eeeeee;
    --secondaryText:#fff;
    --previewBg : rgb(81,90,72,0.8);
    --previewShadow: #2a2f25;
    --btnColor: #669966;

}